* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
